* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9d9d9;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto 80px;
  max-width: 736px;
}

.header {
  background-color: #121214;
  padding: 80px 0 42px;
}

.container h1 {
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.6rem;
  margin-bottom: 24px;
  width: 319px;
}

.container p {
  color: #42d3ff;
  line-height: 1.6rem;
  width: 283px;
}

.form-wrapper {
  background-color: #fafafc;
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: -80px;
  padding: 64px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

fieldset {
  border: none;
}

fieldset legend {
  border-bottom: 1px solid #e6e6f0;
  font-family: "Archivo", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 16px;
  width: 100%;
}

label {
  color: #4e4958;
  font-size: 0.875rem;
  padding-top: 18px;
}

label span {
  color: #6c6a71;
  font-size: 0.75rem;
}

.wrapper input,
.wrapper textarea,
.wrapper select {
  background-color: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  color: #6c6a71;
  padding: 16px 24px;
}

.wrapper textarea {
  height: 168px;
  resize: none;
}

.wrapper select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: right 24px top 50%;
  background-repeat: no-repeat;
}

.cols-3 {
  display: flex;
  gap: 20px;
}

.wrapper:first-child {
  width: 100%;
}

.checkbox-wrapper label {
  align-items: center;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper input {
  height: 24px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid #000;
}

.checkbox-wrapper label::before {
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  content: "";
  display: block;
  height: 24px;
  width: 24px;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  background-color: #f0f0f4;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #d6d6d6;
  padding: 40px 64px;
}

footer input {
  background-color: #04d361;
  border: none;
  border-radius: 8px;
  color: #fff;
  display: block;
  padding: 15px 40px;
  text-transform: uppercase;
  width: 100%;
}

footer input:hover {
  background-color: #14bd60;
  transition: all 0.2s;
}
